*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: gray;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;

    background-color: cadetblue;
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

header nav a {
    color: white;
}

main {
    display: grid;
    place-items: center;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    gap: .5em;
    width: 300px;
}

form label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form button {
    width: 5em;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;

    background-color: lightgrey;
}

#error-message {
    color: red;
}