<form id="login-form">
    <h2>Log in</h2>
    <label for="email">
        Email:
        <input placeholder="email" type="email" name="email" id="email" required>
    </label>
    <label for="password">
        Password:
        <input placeholder="password" type="password" name="password" id="password" required>
    </label>
    <button type="submit">Log In</button>
    <p id="error-message"></p>
</form>