
<form method="post" action="/" id="register-form">
    <h2>Register</h2>
    <label for="name">
        Name:
        <input required placeholder="Name" type="text" name="name" id="name">
    </label>
    <label for="email">
        Email:
        <input required placeholder="Email" type="email" name="email" id="email">
    </label>
    <label for="password">
        Password:
        <input required placeholder="Password" type="password" name="password" id="password">
    </label>
    <label for="password">
        Confirm:
        <input required placeholder="Confirm Password" type="password" name="confirmPassword" id="confirm-password">
    </label>
    <button type="submit">Register</button>
    <p id="error-message"></p>
</form>